<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.henry.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.henry.domain.UserDO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, remark
    </sql>

    <!-- 批量插入 -->
    <insert id="batchInsert">
        insert into test_insert (`name`,`remark`)
        values
        <foreach collection="listUser" item="item" separator=",">
            (#{item.name},#{item.remark})
        </foreach>
    </insert>
</mapper>